{% extends "base_generic.html" %}
{% load widget_tweaks %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class="card mx-auto" style="max-width:400px;">
        <h5 class="card-header">Login</h5>
        <div class="card-body">
            <div class="card-text">
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    {% if form.errors %}
                        <div class="row">
                            <div class="col-12">
                                <div class="alert alert-danger" role="alert">
                                    <i class="fas fa-exclamation-triangle"></i>Your username and password didn't match. Please try again.
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="form-group row">
                        <div class="col-sm-4 col-form-label">{{ form.username.label_tag }}</div>
                        <div class="col-sm-8">
                            {{ form.username | add_class:'form-control' }}
                        </div>
                        <span class="offset-sm-4 col-sm-8"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4 col-form-label">{{ form.password.label_tag }}</div>
                        <div class="col-sm-8">
                            {{ form.password | add_class:'form-control' }}
                        </div>
                        <span class="offset-sm-4 col-sm-8"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Login</button>
                        </div>
                    </div>
                    <input type="hidden" name="next" value="{{ next }}" />
                </form>
            </div>
        </div>
    </div>
{% endblock %}